* {
  box-sizing: border-box;
  /* lo que hace es decirle al ordenador que respete el tamaño de mis cajas */
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* para quitar viñetas a las listas */
  font-family: sans-serif;
  text-decoration: none;
}

#containerHo {
  display: flex;
  align-items: center;
  /* centrar items uno al lado del otro */
  width: 100%;
  height: 10px;
  border-bottom: 1px solid rgba(207, 197, 197, 0.8);
  box-shadow: 0px 0px 10px #777;
  min-height: 320px / (2);
  background: black;
  /* background-image: url("../assets/images/fondo-frode.jpg"); */

  #headerH {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50% * 2;
    height: 220px / (2);
    border-bottom: 1px solid rgba(175, 172, 172, 0.8);
    background-image: url("../assets/images/fondo-frode.jpg");

    .container__tittleH {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2px;

      .tittle {
        flex-grow: 1;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .header__alignH {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      .logo__imageH {
        margin-top: 15px * 2;
        margin-left: 53px;

        .logotipo {
          flex-grow: 1;
          width: 55px;
          height: 52px;
          border-radius: 80%;
          overflow: hidden;
        }
      }

      #menuBs {
        margin-left: 5rem;
        margin-top: 1.6rem;
        box-shadow: 1px 1px 3px 1px black;
        /*    background-image: linear-gradient(rgb(78, 78, 78), black); */
        color: black;

        & a {
          color: black;
        }

        & a:hover {
          color: cyan;
          font-weight: bold;
          /* background-color: rgba(172, 171, 171, 0.596); */
          transition: all 300ms;
        }

        #navTitle {
          font-weight: bold;
        }

        .navForm {
          margin-left: 1rem;
        }

        ul li ul li {
          background-color: rgba(182, 182, 182, 0.527);
          font-weight: bold;
        }

        #textDeco {
          font-family: "Baloo 2", cursive;
          text-decoration: none;
        }

        .navbar-toggler {
          color: black;
          border-color: black;
        }
      }
    }

    .container__subtittleH {
      width: 100%;
      flex-wrap: wrap;

      .subtittleH {
        flex-grow: 1;
        font-family: "sans-serif";
        font-size: 10px;
        font-weight: lighter;
        /* text-shadow: 1px 1px 0px rgb(114, 111, 111); */
        text-transform: uppercase;
        padding-top: 30px;
        padding-left: 15px;

        & h2 {
          font-size: 14px;
          font-weight: bold;
        }

        & a {
          color: white;
          font-family: "PT Mono", monospace;
          font-family: "Baloo 2", cursive;
          text-decoration: none;

          &:hover {
            color: cyan;
            font-size: 16px;
            transition: 500ms;
          }
        }
      }
    }
  }
}

/* ACTIVIDAD SASS OPERACIONES */


@mixin box-color($color, $size, $shadow) {
  background: $color;
  border: $size solid $color;
  border-radius: $size;
  box-shadow: 0px 0px $size $shadow;
}

.bgColor {
  width: 50%;
  height: 300px;
  @include box-color (orangered,10px,white)

  .caja-uno {
    width: 50%;
    height: 40px;
    @include box-color (blue,2px,black)

  }

  .caja-dos {
    width: 50%;
    height: 40px;
    @include box-color (green,2px,white)
  }

  .caja-tres {
    width: 50%;
    height: 40px;
    @include box-color (violet,5px,cyan)
  }

}

@mixin box-texto ($color) {
  background: $color;

  @if $color == aqua {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-shadow: blue;
  } @else {
    background: red;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    text-shadow: rgb(255, 255, 255);
  }
}

.btn-uno {
  width: 25%;
  height: 5rem;
  margin: 10px;
  @include box-texto (aqua) ;
}

.btn-dos {
  width: 25%;
  height: 5rem;
  margin: 10px;
  @include box-texto (black);
}



/* FIN ACTIVIDAD SASS OPERACIONES */



/* main */

#subnavH {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid white;
  box-shadow: 1px 1px 10px wheat;
  background: linear-gradient(to bottom, #dd78bf, #7094bd);
  background-image: url("../assets/images/fondoSHOWW.jpg");
  /* background-image: linear-gradient(rgb(14, 14, 14), black); */
  animation: showBanner 5s 1 linear;
  overflow: hidden;

  @keyframes showBanner {
    from {
      background-position: -800px/(2) -400px;
    }
    to {
      background-position: 0px 0px;
    }
  }

  .subnav__tittleH {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    margin-bottom: 20px * 2;

    & h2 {
      font-size: 35px;
      color: white;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-style: italic;
    }
  }

  //second block

  .subnav__subtittleH { /* container de la caja completa */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 25% + 25%;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);

    .subnav__subtittle__itemsH { /* caja de los items */
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      width: 50% * 2;
      height: 100%;
      text-transform: uppercase;
      font-weight: 100;

     & li {
        justify-self: center;
        align-self: center;
        margin-top: 15px;
        margin-right: 30px;

       & a {
          font-size: 25px;
          font-weight: bold;
          font-style: italic;
          font-family: "Staatliches", cursive;
          color: white;

          &:hover {
            color: wheat;
            font-size: 28px;
            transition: all 300ms;
          }
        }
      }
    }
  }
}


#section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 20% 30% 50%;
  grid-template-areas:
    "head head head"
    "tabla tabla img";
  background-image: url("../assets/images/fondo-frode.jpg");
  width: 100%;
  height: 40rem;
  box-shadow: 1px 1px 7px white;
  border-top: 1px solid white;

  .tittleCalzados {
    grid-area: head;
    font-size: 40px;
    padding-left: 150px;
    color: #070606;
    letter-spacing: 2px;
    display: inline;
    text-transform: uppercase;
  }

  #cuotas {
    padding-left: 100px;
    padding-top: 10px;
    height: 500px;

    .tittleCuotas {
      font-size: 30px;
      color: white;
      padding-left: 25px;
      padding-bottom: 10px;
      padding-top: 150px;
    }

    .tittleInteres {
      color: #fffbfb;
      margin: 5px 30px;
      padding-left: 30px;
      font-size: 15px;
    }

    .tittleAhorro {
      padding-left: 120px;
      color: red;
      font-size: 15px;
      padding-top: 10px;

      .valor {
        color: #f8cc0a;
      }
    }
  }
}
