/* header en import */

/* quienes somos */

#weAre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    width: 100%;
    padding: 2rem;
    height: 40rem;

    .aboutFrode {
        margin-bottom: 2rem;

        h1 {
            font-family: $font-miccio;
            font-size: 5rem;
            font-weight: 100;
            letter-spacing: 2px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            padding: 2rem 2rem 0rem 15rem;
            
        }

        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: black;
            text-decoration: none;
            padding: 0rem 17rem;
         
        }
    }

    .weAbout {
        padding: 2rem 2rem 0rem 2rem;

        h2 {
            font-family: $font-miccio;
            font-size: 4rem;
            font-weight: 100;
            letter-spacing: 2px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            padding: 2rem 2rem 0rem 13rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            text-decoration: none;
            font-family: $font-miccio;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 2px;
            color: black;
            text-align: start;
            padding: 0rem 15rem;
        }

        p {
            padding: 0rem 15rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: black;
            text-decoration: none;
        }
    }
}

#aspiration {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .weImg {
        width: 100%;
        figure {
            img {
                box-shadow: 0px 0px 4px #ccc;
            }
        }
    }

    .weTxt {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 100%;

        h2 {
            font-family: 'Alegreya Sans SC', sans-serif;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: 2px;
            color: black;
            border-bottom: 2px solid cyan;
            margin-bottom: 5rem;
        }

        h3 {
            font-family: $font-miccio;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 2px;
            color: black;
        }

        p {
            font-family: $font-miccio;
            font-size: 1rem;
            font-weight: 500;
            color: rgb(26, 25, 25);
        }
    }
}