/* header en import */

/* quienes somos */

#weAre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;

    .aboutFrode {
        background-color: whitesmoke;
    }
}