@media (max-width: 768px) {

  body {
    margin: 0px;
    padding: 0px;
  }
  #header {
    width: auto;
    .headerFixed {
      width: 100%;
    }
    #nav {
      max-width: 992px;

      .nav-menu {
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 216, 216);
        align-items: center;
        padding: 0;
        z-index: 21;
        position: fixed;
        left: 100%;
        top: 9rem;
        width: 100%;
        height: calc(100% - 3rem);
        overflow-y: auto;
        transition: left 300ms;

        .nav-item {
          line-height: 4rem;
        }
      }

      .nav-link:hover {
        background-color: none;
      }

      .nav-toggle {
        display: block;

        .icon {
          display: block;
        }
      }

      .nav-menu_visible {
        left: 0;
      }

      & > ul {
        color: black;
        background-color: none;
      }

      & > ul > li:hover > ul {
        margin-left: 7.5rem !important;
      }

      & > ul > li:hover > ul > li:hover {
        box-shadow: 0px 0px 6px white inset;
      }

      /* fin menu */
    }
  }

  /* registrarse */

  .subtitleHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 4px #ccc;
  }

  /* inicio banner */

  #sectionWeare {
    display: none;
  }
  /* fin banner */

 /* inicio txt pre section */

 .preStyle {
   display: flex;
   flex-direction: column;
   align-items: start;
   width: 100%;
   padding: 5rem 0rem 0rem 1.5rem;
   margin: 0;
   height: 10rem;

   h2 {
     font-size: 3.5rem;
   }

   h3 {
     width: 75%;
     font-size: 3rem;
     margin-bottom: 0;
   }
 }

 /* fin txt pre section */

  /* inicio row styles */

  #stylesFrode {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    column-gap: 0px;
    width: 100%;
    padding: 0;
    height: 70rem;
    overflow: none;
    margin: 0rem;

    .firstRow {
     padding-left: 0;
      img {
        width: 25rem;
      }

      h2 {
        margin-left: 0;
      }
    }

    .secondRow {
      padding-left:0;
      img {
        width: 25rem;
      }
      h2 {
        margin-left: 0;
      }
    }

  }

  /* fin row styles */

  /* inicio layout marcas */

  #rowMarcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    width: 100%;
    height: 55rem;
    margin: 0;
    padding: 0;

    .title {
      display: none;
    }

    .firstNike {
      .relative {
       padding-left: 0;

        img {
          width: 25rem;
        }
      }
    }

    .firstAdi {
      .relative {
        padding-left: 0;

        img {
          width: 25rem;
        }
      }
    }
  }

  /* inicio layout niños */

  #rowKids {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    padding: 0rem;
    width: 100%;
    height: 65rem;
    margin: 0;

    .firstKids {
      padding-left: 0;
      img {
        width: 25rem;
      }
    }

    .secondKids {
      padding-left: 0;
      img {
        width: 25rem;
      }
      
    }
  }

  /* fin layout niños */

  /* inicio layout hombres */

  #sectionMens {
    height: 55rem;
    margin: 0;
    .menLayout {
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;

      .firstRow {
        padding-left: 0rem;
        img {
          width: 25rem;
        }
      }

      .secondRow {
        padding-left: 0rem;
        img {
          width: 25rem;
        }
      }
    }
  
  }

  /* fin layout hombres */

  /* carousel bootstrap */
  #container-carousel {
     height: 40rem;
     margin: 10rem 0rem 0.2rem 0rem;
    .titleCarousel {
      h2 {
        font-size: 3rem;
        text-align: center;
      }
    }

    #carouselExampleControls{
      
      .carousel-inner {
        margin-left: 10%;
      }
    }
  }
  /* fin carousel bootstrap */

  /* inicio para quien queres comprar */

  #comprar {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50rem;
    margin-bottom: 0.2rem;

    .containerText {
      display: none;
    }

    .containerPhotos {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 0;
      gap: 0;
      row-gap: 1rem;
    }
  }

  /* fin para quien queres comprar */

  /* inicio tabla descuentos */

  #containerPagos {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0.2rem;

    .tabla__descuentos {
      width: 85%;
    }
  }

  /* fin tabla descuentos */

  /* inicio formulario */

  .containerForm {
    padding: 0;
    margin: 0;
    margin-bottom: 0.2rem !important;

    #formulario {
      height: 30rem;

      .bodyForm {
        margin-left: 6rem;
      }

      .titleForm {
        margin-right: 0.5rem;
      }
    }
  }

  /* fin formulario */

  /* footer */

   footer {
    .firstColumn {
      .fortyRow {

        .btnTitle {
          h2 {
            display: none;
          }
        }
        ul {
          text-align: center;
          margin-top: 2rem;
        }
      }
    }

    .secondColumn {
      .secondRow {
        display: none;
      }
    }
  } 

  /* fin footer */
}
/* fin responsive */

