@media (max-width: 780px) {
  #nav {
    max-width: 992px;

    .nav-menu {
      display: flex;
      flex-direction: column;
      background-color: rgb(216, 216, 216);
      align-items: center;
      padding: 0;
      z-index: 21;
      position: fixed;
      left: 100%;
      top: 9rem;
      width: 100%;
      height: calc(100% - 3rem);
      overflow-y: auto;
      transition: left 300ms;

      .nav-item {
        line-height: 4rem;
      }
    }

    .nav-link:hover {
      background-color: none;
    }

    .nav-toggle {
      display: block;

      .icon {
        display: block;
      }
    }

    .nav-menu_visible {
      left: 0;
    }
  }
}
